<div *ngIf="!this.lessons" class="loading"></div>

<div class="container margins-top-bottom">

  <ul *ngIf="this.lessons" class="accordion-container collection">
    <li *ngFor="let lesson of lessons; let i = index" [attr.id]="[collapsibleElement] + i" class="collection-item">
      <input [attr.id]="[collapsibleTrigger] + i" name="accordion-1" type="radio" />

      <div class="row lesson-list-item valign-wrapper">

        <div class="col l2 s2 valign center-align">
          <img materialize="materialbox" class="circle materialboxed lessonImage" src="../assets/images/default_lesson_image.png">
        </div>

        <div class="col l6 s8 valign">
          <span class="title">{{lesson?.title}}</span>
          <p>{{ lesson?.description }} <br> {{ lesson?.date | date }} - {{ lesson?.date | date:'H:mm' }}</p>
        </div>

        <div class="col l4 s2 right-align valign">
          <i [attr.id]="[this.iconTrigger] + i" class="material-icons" (click)="triggerLessonDetails(i)">add</i>
        </div>

      </div>

      <article class="collapsible-container">
          <app-lesson-details *ngIf="this.lessonDetails" [lessonDetails]="this.lessonDetails"></app-lesson-details>
      </article>

    </li>
  </ul>

</div>
