span.title {
  font-weight: bold;
}

.margins-top-bottom {
  margin-top: 40px;
  margin-bottom: 50px;
}

.lesson-list-item {
  margin-top:15px;
  margin-bottom: 15px;
}

.loading-dashboard{
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -25px 0px 0px -25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: .25rem solid rgba(55, 86, 70, 0.2);
  border-top-color: #375646;
  animation: spin 0.5s infinite linear;
}
