<div *ngIf="!this.course" class="loading"></div>

<div *ngIf="this.course" class="container course-detail-div">


  <!--POST DIALOG-->
  <div id="course-details-modal" class="modal my-modal-class course-details-modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="actions2">

    <div *ngIf="processingPost" class="loading"></div>

    <div class="modal-content" [class.filtered]="processingPost">
      <p class="p-bold-modal-header">{{this.postModalTitle}}</p>
      <h5 *ngIf="isCurrentPostMode(['1'])">{{this.postModalEntry?.title}}</h5>
      <p *ngIf="isCurrentPostMode(['1'])">{{this.postModalCommentReplay?.message}}</p>
      <div class="row no-margin">

        <form materialize #courseDetailsForm class="col s12" (ngSubmit)="onCourseDetailsSubmit(); courseDetailsForm.reset();">
          <div class="row no-margin">

            <div *ngIf="isCurrentPostMode(['0', '2', '4'])" class="row row-mobile">
              <div class="input-field col s12">
                <input [(ngModel)]="inputTitle" name="inputTitle" id="inputTitle" type="text" class="validate" autocomplete="off" required>
                <label *ngIf="isCurrentPostMode(['0'])" for="inputTitle">Entry title</label>
                <label *ngIf="isCurrentPostMode(['2'])" for="inputTitle">Session title</label>
                <label *ngIf="isCurrentPostMode(['4'])" for="inputTitle">File group title</label>
              </div>
            </div>

            <div *ngIf="isCurrentPostMode(['0', '1', '2'])" class="row row-mobile">
              <div class="input-field col s12">
                <textarea maxlength="2500" [(ngModel)]="inputComment" name="inputComment" id="inputComment" class="materialize-textarea validate" required></textarea>
                <label *ngIf="isCurrentPostMode(['0', '1'])" for="inputComment">Write your comment here</label>
                <label *ngIf="isCurrentPostMode(['2'])" for="inputComment">Description</label>
              </div>
            </div>

            <div class="row no-margin">
              <div class="col l6 m6 s6">
                <div *ngIf="isCurrentPostMode(['2'])" class="row">
                  <label for="inputDate">Date</label>
                  <div class="input-field col s12">
                    <input [(ngModel)]="inputDate" name="inputDate" id="inputDate" type="date" required>
                  </div>
                </div>
              </div>
              <div class="col l6 m6 s6">
                <div *ngIf="isCurrentPostMode(['2'])" class="row">
                  <label for="inputTime">Time</label>
                  <div class="input-field col s12">
                    <input type="time" [(ngModel)]="inputTime" id="inputTime" name="inputTime" class="validate" required>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="isCurrentPostMode(['5'])" class="row">

              <app-file-uploader (onCompleteFileUpload)="filesUploadCompleted($event)" (onUploadStarted)="filesUploadStarted($event)" [uniqueID]="1" [isMultiple]="true" [URLUPLOAD]="this.url_file_upload" [typeOfFile]="'files'" [buttonText]="'Select files'"></app-file-uploader>

            </div>

          </div>
          <div class="row no-margin-bottom right-align">
            <a *ngIf="!isCurrentPostMode(['5'])" (click)="courseDetailsForm.reset()" class="modal-action modal-close waves-effect btn-flat modal-footer-button cancel-modal-btn">Cancel</a>
            <a *ngIf="isCurrentPostMode(['5'])" (click)="courseDetailsForm.reset(); this.uploaderModalService.announceUploaderClosed(true);" class="modal-action modal-close waves-effect btn-flat modal-footer-button">Close</a>
            <button id="post-modal-btn" *ngIf="!isCurrentPostMode(['5'])" type="submit" class="waves-effect btn-flat modal-footer-button">Send</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!--POST DIALOG-->



  <!--PUT/DELETE DIALOG-->
  <div *ngIf="this.authenticationService.isTeacher()" id="put-delete-modal" class="modal my-modal-class course-details-modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="actions3">

    <div *ngIf="processingPut" class="loading"></div>

    <div class="modal-content" [class.filtered]="processingPut">
      <p class="p-bold-modal-header">{{this.putdeleteModalTitle}}</p>
      <div class="row no-margin">

        <form materialize #putDeleteForm class="col s12" (ngSubmit)="onPutDeleteSubmit(); putDeleteForm.reset(); this.allowSessionDeletion = false;">

          <div *ngIf="isCurrentPutdeleteMode(['0'])" class="row no-margin">
            <div class="row row-mobile">
              <label for="inputSessionTitle">Session title</label>
              <div class="input-field col s12">
                <input [(ngModel)]="inputSessionTitle" name="inputSessionTitle" id="inputSessionTitle" type="text" class="validate" required>
              </div>
            </div>

            <div class="row row-mobile">
              <label for="inputSessionDescription">Description</label>
              <div class="input-field col s12">
                <textarea [(ngModel)]="inputSessionDescription" name="inputSessionDescription" id="inputSessionDescription" class="materialize-textarea validate" required></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col l6 m6 s6">
                <div class="row row-mobile">
                  <label for="inputSessionDate">Date</label>
                  <div class="input-field col s12">
                    <input [(ngModel)]="this.updatedSessionDate" name="inputSessionDate" id="inputSessionDate" type="date" [value]="this.updatedSessionDate" required>
                  </div>
                </div>
              </div>
              <div class="col l6 m6 s6">
                <div class="row row-mobile">
                  <label for="inputSessionTime">Time</label>
                  <div class="input-field col s12">
                    <input [(ngModel)]="this.inputSessionTime" type="time" id="inputSessionTime" name="inputSessionTime" class="validate" [value]="this.inputSessionTime" required>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="isCurrentPutdeleteMode(['1'])" class="row no-margin-lateral">
            <input #forumCheckbox type="checkbox" class="filled-in" id="delete-checkbox" name="delete-checkbox" (change)="this.allowForumEdition = forumCheckbox.checked"/>
            <label for="delete-checkbox">Allow forum {{this.checkboxForumEdition}}?</label>
          </div>

          <div *ngIf="isCurrentPutdeleteMode(['2', '3'])" class="row no-margin">
            <div class="row">
              <label *ngIf="isCurrentPutdeleteMode(['2'])" for="inputFileTitle">File group title</label>
              <label *ngIf="isCurrentPutdeleteMode(['3'])" for="inputFileTitle">File name</label>
              <div class="input-field col s12">
                <input [(ngModel)]="inputFileTitle" name="inputFileTitle" id="inputFileTitle" type="text" class="validate" required>
              </div>
            </div>
          </div>

          <div *ngIf="isCurrentPutdeleteMode(['4'])" id="tabs-attenders" class="row no-margin">
            <md-tab-group [(selectedIndex)]="this.attenderTabSelected">
              <md-tab>
                <template md-tab-label><div class="md-tab-label-aux waves-effect">SIMPLE</div></template>
                <template md-tab-content>
                  <div class="row no-margin att-row-padding">
                    <div class="input-field col s12">
                      <input [(ngModel)]="inputAttenderSimple" name="inputAttenderSimple" id="inputAttenderSimple" type="email" class="validate" required>
                      <label for="inputAttenderSimple">Attender email</label>
                    </div>
                  </div>
                </template>
              </md-tab>
              <md-tab>
                <template md-tab-label><div class="md-tab-label-aux waves-effect">MULTIPLE</div></template>
                <template md-tab-content>
                  <div class="row no-margin att-row-padding">
                    <i materialize="tooltip" class="material-icons tooltipped att-info-tooltip" data-position="right" data-delay="65" data-html="true" data-tooltip="<p class='att-tooltip-text'>We always separate by <b>WHITE SPACES</b><br>and <b>NEW LINES</b>. If there's any other<br>combination of characters that should<br>be taken into account as separator,<br>include it here</p>">info</i>
                    <div class="input-field col l4 m4 s6">
                      <input [(ngModel)]="inputAttenderSeparator" name="inputAttenderSeparator" id="inputAttenderSeparator" type="text" class="validate">
                      <label for="inputAttenderSeparator">SEPARATOR</label>
                    </div>
                    <div class="input-field col s12">
                      <textarea maxlength="1500" [(ngModel)]="inputAttenderMultiple" name="inputAttenderMultiple" id="inputAttenderMultiple" class="materialize-textarea validate" required></textarea>
                      <label for="inputAttenderMultiple">Attender emails</label>
                    </div>
                  </div>
                </template>
              </md-tab>
              <md-tab>
                <template md-tab-label><div class="md-tab-label-aux waves-effect">FILE UPLOAD</div></template>
                <template md-tab-content>
                  <i id="tooltip-file" materialize="tooltip" class="material-icons tooltipped att-info-tooltip" data-position="right" data-delay="65" data-html="true" data-tooltip="<p class='att-tooltip-text'>We will automatically find and add<br>to the course all the <b>EMAILS</b> in the file</p>">info</i>
                  <div class="row no-margin att-row-padding">

                    <app-file-uploader (onCompleteFileUpload)="fileReaderUploadCompleted($event)" (onUploadStarted)="fileReaderUploadStarted($event)" [uniqueID]="2" [URLUPLOAD]="this.URL_FILE_READER_UPLOAD + this.course.id" [isMultiple]="false" [typeOfFile]="'file'" [buttonText]="'Upload file'"></app-file-uploader>

                  </div>
                </template>
              </md-tab>
            </md-tab-group>
          </div>

          <div class="row no-margin-bottom right-align">
            <div *ngIf="isCurrentPutdeleteMode(['0'])" class="valign-wrapper delete-div">
              <a (click)="this.deleteSession(); putDeleteForm.reset(); this.allowSessionDeletion = false;" class="waves-effect btn-flat modal-footer-button float-to-left" [class.disabled]="!this.allowSessionDeletion">Delete</a>
              <div class="float-to-left">
                <input #deleteCheckbox type="checkbox" class="filled-in" id="delete-checkbox" name="delete-checkbox" (change)="this.allowSessionDeletion = deleteCheckbox.checked"/>
                <label for="delete-checkbox">Allow deletion?</label>
              </div>
            </div>
            <a (click)="putDeleteForm.reset(); this.allowSessionDeletion = false; this.allowForumEdition = false; this.uploaderModalService.announceUploaderClosed(true);" class="modal-action modal-close waves-effect btn-flat modal-footer-button cancel-modal-btn">Cancel</a>
            <button id="put-modal-btn" *ngIf="!((this.putdeleteModalMode === 4) && (this.attenderTabSelected === 2))" type="submit" class="waves-effect btn-flat modal-footer-button" [class.disabled]="isCurrentPutdeleteMode(['1']) && (!this.allowForumEdition)">Send</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!--PUT/DELETE DIALOG-->



  <div class="row valign-wrapper">
    <div class="col l1 m1 s2 valign"><a routerLink="/courses" [title]="'Back to courses'" class="btn-floating"><i class="material-icons medium back-icon">arrow_back</i></a></div>
    <div class="col l11 m11 s10 valign">
      <h4 class="course-title">{{course.title}}</h4></div>
  </div>

  <!--TABS-->
  <div id="tabs-course-details" class="row">
    <md-tab-group [selectedIndex]="this.tabId">

      <md-tab><!--Course Info Tab-->
        <template md-tab-label><div class="md-tab-label-aux waves-effect" (click)="changeUrlTab(0)"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Course info">home</i></div></template>
        <template md-tab-content>

            <div *ngIf="processingCourseInfo" class="loading"></div>

            <div class="tab-template-content" [class.filtered]="processingCourseInfo">
              <div class="row no-margin">
                <a *ngIf="this.authenticationService.isTeacher() && !this.welcomeTextEdition" (click)="this.welcomeTextEdition = true" class="right" [title]="'Edit info'">
                  <i id="edit-course-info" class="material-icons add-element-icon">edit</i>
                </a>
              </div>
              <div *ngIf="!this.welcomeTextEdition && this.course.courseDetails.info" class="ql-editor ql-editor-custom" [innerHTML]="this.course.courseDetails.info"></div>
              <div *ngIf="this.welcomeTextEdition">
                <p-editor *ngIf="!this.welcomeTextPreview" [(ngModel)]="this.welcomeText" [style]="{'height':'320px'}"></p-editor>
                <div *ngIf="this.welcomeTextPreview" class="ql-editor ql-editor-custom" [innerHTML]="this.welcomeText"></div>
                <div id="textEditorRowButtons" class="row no-margin-bottom right-align">
                  <a (click)="this.closeUpdateCourseInfo()" class="waves-effect btn-flat modal-footer-button">Cancel</a>
                  <button id="send-info-btn" (click)="this.updateCourseInfo(); this.closeUpdateCourseInfo()" class="waves-effect btn-flat modal-footer-button">Send</button>
                  <a (click)="this.welcomeTextPreview = !this.welcomeTextPreview; this.previewButton = (this.welcomeTextPreview ? 'edit' : 'preview');" class="left waves-effect btn-flat modal-footer-button">{{this.previewButton}}</a>
                </div>
              </div>
              <div *ngIf="!this.course.courseDetails.info && !this.welcomeTextEdition"><app-error-message [errorTitle]="'There is no info yet'" [errorContent]="''" [customClass]="'warning'" [closable]="false"></app-error-message></div>
            </div>
          </template>
      </md-tab>

      <md-tab><!--Sessions Tab-->
        <template md-tab-label><div class="md-tab-label-aux waves-effect" (click)="changeUrlTab(1)"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Sessions">school</i></div></template>
        <template md-tab-content>
            <div class="tab-template-content">
              <div class="row no-margin">
                <a href="#course-details-modal" *ngIf="this.authenticationService.isTeacher()" (click)="updatePostModalMode(2, 'New session', null, null, null); this.animationService.animateIfSmall()" class="right" [title]="'New session'">
                  <i class="material-icons add-element-icon">add_circle_outline</i>
                </a>
              </div>
              <ul>
                <div *ngFor="let session of this.course.sessions; let last1 = last">
                  <li class="session-data">
                    <div class="row no-margin">
                      <div (click)="goToSessionVideo(session)" [class.session-ready]="this.isSessionReady(session)" class="col l7 m6 s6">
                        <div class="session-title">{{session.title}}</div>
                        <div class="session-description">{{session.description}}</div>
                      </div>
                      <div class="col l4 m5 s5 right-align">
                        {{numberToDate(session.date) | date}} - {{numberToDate(session.date) | date:'H:mm' }}
                      </div>
                      <div class="col l1 m1 s1 right-align no-padding-lateral">
                        <a href="#put-delete-modal" *ngIf="this.authenticationService.isTeacher()" (click)="updatePutDeleteModalMode(0, 'Modify session'); this.changeUpdatedSession(session); this.animationService.animateIfSmall()" [title]="'Modify session'">
                          <i class="material-icons forum-icon">mode_edit</i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="!last1"><div class="divider"></div></li>
                </div>
            </ul>
            <div *ngIf="this.course.sessions.length === 0"><app-error-message [errorTitle]="'There are no sessions'" [errorContent]="''" [customClass]="'warning'" [closable]="false"></app-error-message></div>
            </div>
          </template>
      </md-tab>

      <md-tab><!--Forum Tab-->
        <template md-tab-label><div class="md-tab-label-aux waves-effect" (click)="changeUrlTab(2)"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Forum">forum</i></div></template>
        <template md-tab-content>
          <div class="tab-template-content row no-margin" [class.tab-template-content-2]="!this.course.courseDetails?.forum.activated || !this.course.courseDetails?.forum.entries.length > 0">

            <!--Forum view-->
            <ul class="entries-side-view row no-margin" [class.hide]="this.fadeAnim === 'commentsShown'">
              <div *ngIf="this.course.courseDetails?.forum.activated">
                <div *ngFor="let entry of this.course.courseDetails?.forum.entries; let last2 = last">
                  <li (mousedown)="this.fadeAnim = 'commentsHidden';" (click)="this.selectedEntry = entry; this.fadeAnim = 'commentsShown';" class="entry-title waves-effect" [class.teacher-forum]="isEntryTeacher(entry)">
                    <div class="row no-margin entry-row-sep">
                      <div class="col l6 m6 s6">
                        <a [title]="entry.title">{{entry.title}}</a>
                      </div>
                      <div class="col l6 m6 s6 user-date-column">
                        <div class="row no-margin">
                          <div class="col l6 m6 s6 user-name" [class.teacher-name]="isEntryTeacher(entry)">{{entry?.user?.nickName}}</div>
                          <div class="col l6 m6 s6 user-name">{{entry?.date | timeAgo}}</div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="entry.comments.length > 0" class="row no-margin last-comment-row">
                      <div class="col">Last comment:</div>
                      <div class="col">{{getLastEntryComment(entry)?.user?.nickName}}, {{getLastEntryComment(entry)?.date | timeAgo}}</div>
                    </div>
                    <div *ngIf="entry.comments.length === 0" class="row no-margin last-comment-row">
                      <div class="col">No comments</div>
                    </div>
                  </li>
                  <li *ngIf="!last2"><div class="divider"></div></li>
                </div>
              </div>
              <div class="center-align div-entry-icon">
                <a href="#course-details-modal" *ngIf="this.course.courseDetails?.forum.activated" (click)="updatePostModalMode(0, 'New entry', null, null, null); this.animationService.animateIfSmall()" [title]="'New entry'">
                  <i id="add-entry-icon" class="material-icons forum-icon">chat</i>
                </a>
                <a href="#put-delete-modal" *ngIf="this.authenticationService.isTeacher()" (click)="updatePutDeleteModalMode(1, 'Activate/Deactivate forum'); this.animationService.animateIfSmall()" class="float-to-right" title="Activate/Deactivate forum">
                    <i id="edit-forum-icon" class="material-icons forum-icon">mode_edit</i>
                </a>
              </div>
            </ul>

            <div *ngIf="this.course.courseDetails?.forum.activated" id="row-of-comments" class="row no-margin" [@fadeAnim]="this.fadeAnim" [class.hide]="this.fadeAnim === 'commentsHidden'">
              <div class="row no-margin-lateral">
                <a><i id="entries-sml-btn" class="material-icons center-align col l1 m1 s1 no-padding-lateral" (click)="this.fadeAnim = 'commentsHidden'">arrow_back</i></a>
                <div class="col l10 m10 s10 no-padding-lateral">
                  <div class="row no-margin comment-section-title">
                    <div class="col l6 m6 s6">{{selectedEntry?.title}}</div>
                    <div class="col l6 m6 s6 user-date-column">
                      <div class="row no-margin">
                        <div class="col l6 m6 s6 user-name">{{selectedEntry?.user.nickName}}</div>
                        <div class="col l6 m6 s6 user-name">{{selectedEntry?.date | date}} - {{selectedEntry?.date | date:'H:mm' }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col l1 m1 s1 no-padding-lateral right-align">
                  <a href="#course-details-modal" [title]="'New comment'" (click)="updatePostModalMode(1, 'New comment', selectedEntry, null, null); this.postModalCommentReplay = null; this.animationService.animateIfSmall()">
                    <i class="material-icons forum-icon">chat</i>
                  </a>
                </div>
              </div>
              <div class="row no-margin comments-col">
                <div *ngFor="let comment of this.selectedEntry?.comments; let last3 = last" class="comment-block" [class.comment-divider]="!last3">
                  <app-comment [comment]="comment"></app-comment>
                </div>
              </div>
            </div>
            <!--Forum view-->

            <div *ngIf="!this.course.courseDetails?.forum.activated"><app-error-message [errorTitle]="'The forum is not activated!'" [errorContent]="'The teacher must activate it before you can comment'" [customClass]="'warning'" [closable]="false"></app-error-message></div>
            <div *ngIf="this.course.courseDetails?.forum.activated && this.course.courseDetails?.forum.entries.length === 0"><app-error-message [errorTitle]="'There are no entries yet'" [errorContent]="'Be the first one! Just click on the icon above'" [customClass]="'warning'" [closable]="false"></app-error-message></div>
          </div>
        </template>
      </md-tab>

      <md-tab><!--Files Tab-->
        <template md-tab-label><div class="md-tab-label-aux waves-effect" (click)="changeUrlTab(3)"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Files">description</i></div></template>
        <template md-tab-content>
          <div class="tab-template-content row no-margin">
            <div *ngIf="this.authenticationService.isTeacher()" class="row no-margin">
              <a href="#course-details-modal" *ngIf="!allowFilesEdition" (click)="updatePostModalMode(4, 'New file group', null, null, null); this.animationService.animateIfSmall()" class="right" [title]="'New file group'">
                <i class="material-icons add-element-icon">add_circle_outline</i>
              </a>
              <i *ngIf="this.course.courseDetails.files.length > 0" (click)="this.changeModeEdition()" class="material-icons add-element-icon right" [title]="'Modify file groups'">{{this.filesEditionIcon}}</i>
            </div>
            <div *ngFor="let fileG of this.course.courseDetails?.files; let last4 = last">
              <app-file-group [fileGroup]="fileG" [courseId]="this.course.id" [depth]="0"></app-file-group>
              <div *ngIf="!last4" class="divider"></div>
            </div>
            <div *ngIf="this.course.courseDetails?.files.length === 0"><app-error-message [errorTitle]="'There are no files associated'" [errorContent]="'Need something? Just open an entry on the forum'" [customClass]="'warning'" [closable]="false"></app-error-message></div>
          </div>
        </template>
      </md-tab>

      <md-tab><!--Attenders Tab-->
        <template md-tab-label><div class="md-tab-label-aux waves-effect" (click)="changeUrlTab(4)"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Attenders">supervisor_account</i></div></template>
        <template md-tab-content>
          <div class="tab-template-content">
            <div *ngIf="this.authenticationService.isTeacher()" class="row no-margin">
              <a  href="#put-delete-modal" *ngIf="!this.allowAttendersEdition" (click)="updatePutDeleteModalMode(4, 'Add attenders'); this.animationService.animateIfSmall()" class="right" [title]="'Add attenders'">
                <i class="material-icons add-element-icon">add_circle_outline</i>
              </a>
              <i *ngIf="this.course.attenders.length > 1" (click)="this.changeModeAttenders()" class="material-icons add-element-icon right" [title]="'Modify attenders'">{{this.attendersEditionIcon}}</i>
            </div>

            <app-error-message *ngIf="addAttendersCorrect" (eventShowable)="addAttendersCorrect = false" [errorTitle]="attCorrectTitle" [errorContent]="attCorrectContent" [customClass]="'correct'" [closable]="true"></app-error-message>
            <app-error-message *ngIf="addAttendersError" (eventShowable)="addAttendersError = false" [errorTitle]="attErrorTitle" [errorContent]="attErrorContent" [customClass]="'fail'" [closable]="true"></app-error-message>

            <div class="row no-margin valign-wrapper user-attender-row">
              <div class="col l2 m2 s3 valign attender-col">
                <img materialize="materialbox" class="circle materialboxed userImage" src={{this.authenticationService.getCurrentUser().picture}}>
              </div>
              <div class="col l5 m5 s9 valign attender-col">
                <p>{{this.authenticationService.getCurrentUser().nickName}}</p>
              </div>
            </div>
            <div *ngFor="let attender of this.course.attenders; let j = index">
              <div *ngIf="attender.id != this.authenticationService.getCurrentUser().id" class="row no-margin valign-wrapper">
                <div class="col l2 m2 s3 valign attender-col">
                  <img materialize="materialbox" class="circle materialboxed userImage" src={{attender.picture}}>
                </div>
                <div class="col l9 l9 s7 no-margin-left">
                  <div class="row no-margin">
                    <div class="col l6 m6 s12 no-padding-lateral valign attender-col">
                      <p class="p-nickName">{{attender?.nickName}}</p>
                    </div>
                    <div class="col l6 m6 s12 no-padding-lateral valign attender-col">
                      <p class="p-name">{{attender?.name}}</p>
                    </div>
                  </div>
                </div>
                <i *ngIf="this.allowAttendersEdition && this.authenticationService.isTeacher() && !this.arrayOfAttDels[j]" (click)="deleteAttender(attender, j)" class="material-icons del-attender-icon" [title]="'Remove ' + attender.nickName">clear</i>
                <i *ngIf="this.allowAttendersEdition && this.authenticationService.isTeacher() && this.arrayOfAttDels[j]" class="material-icons del-attender-icon rotating">cached</i>
              </div>
            </div>
        </div>
        </template>
      </md-tab>

    </md-tab-group>
  </div>
  <!--TABS-->

</div>
