<div *ngIf="!this.courseDetails" class="loading"></div>

<div *ngIf="this.courseDetails" class="container course-detail-div">

  <!--Forum modal-->
  <div id="forum-modal" class="modal forum-modal" materialize [materializeActions]="actions2">
    <div class="modal-content">
      <h5 *ngIf="this.forumModalMode === 1">{{this.forumModalEntry?.title}}</h5>
      <p *ngIf="this.forumModalMode === 2">{{this.forumModalCommentReplay?.message}}</p>
      <div class="row">

        <form materialize #forumForm class="col s12" (ngSubmit)="onForumSubmit(forumForm); forumForm.reset();">
          <div class="row row-no-margin">

            <div *ngIf="this.forumModalMode === 0" class="row">
              <div class="input-field col s12">
                <input [(ngModel)]="inputTitle" name="inputTitle" id="inputTitle" type="text" class="validate" required>
                <label for="inputTitle">Entry title</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea [(ngModel)]="inputComment" name="inputComment" id="inputComment" class="materialize-textarea validate" required></textarea>
                <label for="inputComment">Write your comment here</label>
              </div>
            </div>

          </div>
          <div class="row right-align">
            <a (click)="forumForm.reset();" class="modal-action modal-close waves-effect btn-flat modal-footer-button">Cancel</a>
            <button type="submit" class="waves-effect btn-flat modal-footer-button">Send</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!--Forum modal-->


  <div class="row valign-wrapper">
    <div class="col l1 m1 s2 valign"><a routerLink="/courses" [title]="'Back to courses'"><i class="material-icons medium back-icon">arrow_back</i></a></div>
    <div class="col l11 m11 s10 valign">
      <h4 class="course-title">{{courseDetails.course.title}}</h4></div>
  </div>

  <div class="row">
    <md-tab-group [selectedIndex]="0">

      <md-tab>
        <template md-tab-label><div class="md-tab-label-aux waves-effect"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Sessions">school</i></div></template>
        <template md-tab-content>
            <div class="tab-template-content">
              <div class="row row-no-margin">
                <i *ngIf="this.authenticationService.isLoggedIn() && this.authenticationService.isTeacher()" materialize="tooltip" class="material-icons add-element-icon tooltipped right" data-position="left" data-delay="65" data-tooltip="New session">add_circle_outline</i>
              </div>
              <ul>
                <div *ngFor="let session of this.courseDetails?.sessions; let last1 = last">
                  <li class="session-data waves-effect">
                    <div class="row row-no-margin">
                      <div class="col l8 m7 s7">
                        <div class="session-title">{{session.title}}</div>
                        <div class="session-description">{{session.description}}</div>
                      </div>
                      <div class="col l4 m5 s5 right-align">
                        {{session.date | date}} - {{session.date | date:'H:mm' }}
                      </div>
                    </div>
                  </li>
                  <li *ngIf="!last1"><div class="divider"></div></li>
                </div>
            </ul>
            </div>
          </template>
      </md-tab>

      <!--<md-tab>
        <template md-tab-label><div class="md-tab-label-aux waves-effect"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Lessons">local_library</i></div></template>
        <template md-tab-content>
            <div class="tab-template-content">
            </div>
          </template>
      </md-tab>-->

      <md-tab>
        <template md-tab-label><div class="md-tab-label-aux waves-effect"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Forum">forum</i></div></template>
        <template md-tab-content>
          <div class="tab-template-content row row-no-margin">
            <div *ngIf="this.courseDetails?.forum.activated">

          <!--Forum view-->
          <ul class="entries-side-view col l3 m3 s12" [class.hide-on-small-only]="this.fadeAnim === 'commentsShown'">
            <div *ngFor="let entry of this.courseDetails?.forum.entries; let last2 = last">
              <li (mousedown)="this.fadeAnim = 'commentsHidden';" (click)="this.selectedEntry = entry; this.fadeAnim = 'commentsShown';" class="entry-title waves-effect" [class.entry-selected]="entry === this.selectedEntry"><a class="truncate" [title]="entry.title">{{entry.title}}</a></li>
              <li *ngIf="!last2"><div class="divider"></div></li>
            </div>
            <div class="center-align div-entry-icon"><a (click)="updateForumModalMode(0, null, null);" [title]="'Add a new entry'" href="#forum-modal{{this.sessionIndex}}" materialize="leanModal" [materializeParams]="[{dismissible: false}]"><i class="material-icons forum-icon">chat</i></a></div>
          </ul>
          <div id="row-of-comments" class="row row-no-margin" [@fadeAnim]="this.fadeAnim" [class.hide-on-small-only]="this.fadeAnim === 'commentsHidden'">
            <a><i id="entries-sml-btn" class="material-icons center-align hide-on-med-and-up col s1" (click)="this.fadeAnim = 'commentsHidden';" [class.hide]="this.fadeAnim === 'commentsHidden'">arrow_back</i></a>
            <div class="col l9 m9 s11">
              <div class="col l11 m10 s10 no-padding-right no-padding-left">
                <div class="comment-section-title" [class.hide-on-small-only]="this.fadeAnim === 'commentsHidden'">{{selectedEntry.title}}:
                  <div class="entry-user">{{selectedEntry.user.name}}</div>
                </div>
              </div>
              <div class="col l1 m2 s2 no-padding-right right-align" [class.hide-on-small-only]="this.fadeAnim === 'commentsHidden'">
                <a [title]="'Add new comment'" (click)="updateForumModalMode(1, selectedEntry, null);" href="#forum-modal" materialize="leanModal" [materializeParams]="[{dismissible: false}]"><i class="material-icons forum-icon">chat</i></a>
              </div>
            </div>
            <div class="col l8 m8 s12" [class.hide-on-small-only]="this.fadeAnim === 'commentsHidden'">
              <div *ngFor="let comment of this.selectedEntry?.comments;  let last2 = last" class="comment-block" [class.comment-divider]="!last2">
                <app-comment [comment]="comment"></app-comment>
              </div>
            </div>
          </div>
          <!--Forum view-->

        </div>
        <div *ngIf="!this.courseDetails?.forum.activated"><app-error-message [errorTitle]="'The forum is not activated!'" [errorContent]="'The teacher must activate it before you can comment'" [customClass]="'warning'" [closable]="false"></app-error-message></div>
      </div>
      </template>
      </md-tab>

      <md-tab>
        <template md-tab-label><div class="md-tab-label-aux waves-effect"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Files">description</i></div></template>
        <template md-tab-content>
          <div class="tab-template-content row row-no-margin">
            <div *ngFor="let file of courseDetails?.files" class="chip truncate">
              <img src="../../assets/images/default_file_image.png" class="file-image" alt="Contact Person">
              {{file?.source}}
            </div>
            <div *ngIf="this.courseDetails?.files.length === 0"><app-error-message [errorTitle]="'There are no files associated'" [errorContent]="'Need something? Just open an entry on the forum'" [customClass]="'warning'" [closable]="false"></app-error-message></div>
          </div>
        </template>
      </md-tab>

      <md-tab>
        <template md-tab-label><div class="md-tab-label-aux waves-effect"><i materialize="tooltip" class="material-icons tooltipped" data-position="top" data-delay="65" data-tooltip="Attenders">supervisor_account</i></div></template>
        <template md-tab-content>
          <div class="tab-template-content">
          <p *ngFor="let attender of courseDetails?.attenders">{{attender?.user.name}}</p>
        </div>
        </template>
      </md-tab>

    </md-tab-group>
  </div>
</div>
