<div class="outer-message">

  <div *ngIf="(this.chatLine.type === 'own-msg') || (this.chatLine.type === 'stranger-msg')" [ngClass]="[this.chatLine.type]">
    <div class="message-header">
      <img *ngIf="this.chatLine.type === 'stranger-msg'" [src]="this.chatLine.picture" class="circle responsive-img">
      <span class='user-name' [style.color]="this.chatLine.color">{{this.chatLine.author}}</span>
      <img *ngIf="this.chatLine.type === 'own-msg'" [src]="this.chatLine.picture" class="circle responsive-img">
    </div>
    <div class="message-content">
      <span class='user-message'>{{this.chatLine.message}}</span>
    </div>
  </div>

  <div *ngIf="(this.chatLine.type === 'system-msg') || (this.chatLine.type === 'system-err')" [ngClass]="[this.chatLine.type]">
    {{this.chatLine.message}}
  </div>

</div>
