<div *ngIf="!this.courses" class="loading"></div>

<div class="container container-ul margins-top-bottom">
  <div class="row">
    <div class="col l7 m6 s12">
      <ul *ngIf="this.courses" class="collection">
        <li *ngFor="let course of courses; let i = index" class="collection-item">
          <div class="row session-list-item valign-wrapper">

            <div class="col l4 s3 valign center-align">
              <img materialize="materialbox" class="circle materialboxed sessionImage" src={{this.getImage(course)}}>
            </div>

            <div (click)="goToCourseDetail(course.id)" class="col l8 s9 valign course-title">
              <span class="title">{{course?.title}}</span>
            </div>

          </div>
        </li>
      </ul>
    </div>
    <div class="col l5 m6 s12 valign-wrapper">
      <div class="valign">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>
