span.title {
  font-weight: bold;
}

.lesson-list-item {
  margin-top: 15px;
  margin-bottom: 0px;
}

.collapsible-container {
  margin-bottom: 10px;
}

.collection .active {
  background-color: rgba(192, 214, 203, 0.33);
  color: #000000;
}

i.material-icons {
  color: #375646;
  cursor: pointer;
  font-size: 42px;
  transition: all .2s ease-out;
}

i.material-icons:hover {
  color: #91a59b;
}

i.material-icons:active {
  color: #375646;
}

li.active i.material-icons {
  -webkit-transform: rotate(-45deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-details {
  animation: spin 0.7s infinite linear;
}

.lessonImage {
  display: inline;
}

@media only screen and (min-width: 993px) {
  .lessonImage {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 992px) {
  .lessonImage {
    width: 45px;
    height: 45px;
  }
}


.accordion-container {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.accordion-container input {
  display: none;
}

.accordion-container article {
  overflow: hidden;
  max-height: 0;
  position: relative;
}

.accordion-container input:checked ~ article {
  max-height: 1000px;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 1, 1);
}
