<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">About this project</h5>
      <p class="grey-text text-lighten-4">This application is a final degree project in <a class="hover-link grey-color" href="http://www.urjc.es/en/?id=147" target="_blank"> Universidad Rey Juan Carlos</a><br/>Pablo Fuente Pérez</p>
    </div>
    <div class="col l3 s6">
      <h5 class="white-text">Technologies</h5>
      <ul>
        <li><a class="white-text hover-link" href="https://angular.io/" target="_blank">Angular</a></li>
        <li><a class="white-text hover-link" href="https://www.kurento.org/" target="_blank">Kurento</a></li>
      </ul>
    </div>
    <div class="col l3 s6">
      <h5 class="white-text">Connect</h5>
      <ul>
        <li><a class="white-text hover-link" href="https://github.com/pabloFuente/full-teaching" target="_blank">GitHub repository</a></li>
        <li><a class="white-text hover-link" href="https://es.linkedin.com/in/pablofuenteperez" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Frame by <a class="brown-text text-lighten-3" href="http://materializecss.com" target="_blank">Materialize</a>
  </div>
</div>
