<div [style.padding-left]="calculatePaddingLeft()">
  <div class="row row-margin-bottom">
    <div class="col l11 m10 s10">
      <div class="message-itself">{{comment.message}}</div>
      <div class="user-name">{{comment.user.name}}</div> |
      <div class="user-name">{{comment.date | date}} - {{comment.date | date:'H:mm' }}</div>
    </div>
    <div class="col l1 m2 s2 no-padding-left right-align">
      <a [title]="'Send replay'" href="#forum-modal{{this.lessonIndex}}" materialize="leanModal" [materializeParams]="[{dismissible: false}]"><i class="material-icons replay-icon">feedback</i></a>
    </div>
  </div>
  <div *ngFor="let replay of comment.replies; let i = index">
    <app-comment [comment]="replay" [depth]="this.depth + 1"></app-comment>
  </div>
</div>
