<div class="container margins-top-bottom">

  <div class="setting-section">PROFILE
    <div class="row divider"></div>
  </div>

  <div class="row profile-row">

    <div class="col l4 m6 s12">
      <div class="row no-margin">
        <div class="col s12">
          <img class="circle profile-pic" src="{{this.user.picture}}">
        </div>
        <div class="col s12">
          <div class="row">
            <div *ngIf="picUploader.queue.length == 0" class="row row-no-margin text-centered">
              <div class="col l12 m12 s12">
                <label class="label-input-file waves-effect btn" for="input-file">Change picture</label>
                <input type="file" name="input-file" id="input-file" ng2FileSelect [uploader]="picUploader" />
              </div>
              <div class="col l12 m12">
                <div class="input-field">
                  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOverPic}" (fileOver)="fileOverBase($event)" [uploader]="picUploader" class="file-drop-zone">
                    Or drop your picture here
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="picUploader.queue.length > 0" class="row row-no-margin">
              <div class="col s12 table-header">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="table-td"><strong>{{ picUploader.queue[0]?.file?.name }}</strong></td>
                      <td class="text-center" class="table-td">
                        <span *ngIf="picUploader.queue[0].isSuccess"><i class="material-icons">done</i></span>
                        <span *ngIf="picUploader.queue[0].isCancel"><i class="material-icons">warning</i></span>
                        <span *ngIf="picUploader.queue[0].isError"><i class="material-icons">clear</i></span>
                      </td>
                      <td nowrap class="table-td">
                        <button *ngIf="!(picUploader.queue[0].isReady || picUploader.queue[0].isUploading || picUploader.queue[0].isSuccess)" type="button" class="btn button-small" (click)="picUploader.queue[0].upload()">
                             Upload
                         </button>
                        <button *ngIf="picUploader.queue[0].isUploading" type="button" class="btn button-small" (click)="picUploader.queue[0].cancel()">
                             Cancel
                         </button>
                        <button *ngIf="!picUploader.queue[0].isSuccess && !picUploader.queue[0].isUploading" type="button" class="btn button-small" (click)="picUploader.queue[0].remove()">
                             Cancel
                         </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col l8 m6 s12">
      <ul class="collection">
        <li class="collection-item setting-li">
          <div class="setting-title">Mail</div>
          <div class="setting-content right">{{this.user.name}}</div>
        </li>
        <li class="collection-item setting-li">
          <div class="setting-title">Name</div>
          <div class="setting-content right">{{this.user.nickName}}</div>
        </li>
        <li class="collection-item setting-li">
          <div class="setting-title">Registration date</div>
          <div class="setting-content right">{{this.user.registrationDate | date}}</div>
        </li>
        <li class="collection-item setting-li">
          <div class="setting-title">Password</div>
          <div class="setting-content right">
            <div class="btn waves-effect button-small">Change password</div>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="setting-section">DEFAULT SETTINGS
    <div class="row divider"></div>
  </div>

  <div class="row">

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 1</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 2</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 3</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 4</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 5</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
