<div class="container margins-top-bottom">

  <div class="row">

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 1</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 2</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 3</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 4</span>
          <p>About this particular setting</p>
          <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Setting 5</span>
          <p>About this particular setting</p>
          <form action="#">
            <div class="file-field input-field">
              <div>
                <img class="circle" src="../assets/images/default_session_image.png">
                <input type="file">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
