<login-modal></login-modal>

<div id="index-banner" class="parallax-container fixed-navbar-gap">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center app-title-header text-lighten-2 secondaryColor-color">FullTeaching</h1>
      <div class="row center">
        <h5 class="header col s12 light">Rediscover the joy of learning</h5>
      </div>
      <div class="row center">
        <a href="#login-modal" id="download-button" class="btn-large waves-effect lighten-1 accentColor1-back">Welcome!</a>
      </div>
      <br><br>

    </div>
  </div>
  <div materialize="parallax" class="parallax"><img class="welcome-image" src="assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<!--Slider-->
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div materialize="slider" class="slider">
        <ul class="slides">
          <li>
            <img class="slider-images" src="assets/images/slider1.jpg">
            <!-- first image -->
            <div class="caption center-align">
              <h3>Do not limit yourself</h3>
              <h5 class="light text-lighten-3">Whenever you want. Wherever you are.<br/>Learning should have no limits</h5>
            </div>
          </li>
          <li>
            <img class="slider-images" src="assets/images/slider2.jpg">
            <!-- second image -->
            <div class="caption left-align">
              <h3>Connect with your partners</h3>
              <h5 class="light text-lighten-3">Teamwork is the cornerstone of an excellent education</h5>
            </div>
          </li>
          <li>
            <img class="slider-images" src="assets/images/slider3.jpg">
            <!-- third image -->
            <div class="caption left-align">
              <h3 class="white-text">All on the web</h3>
              <h5 class="light text-lighten-3 white-text">FullTeaching lives on the Internet.<br/>No need of apps or any kind of download</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--End Slider-->

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">An educational web application for productive teaching and learning</h5>
      </div>
    </div>
  </div>
  <div materialize="parallax" class="parallax"><img class="welcome-image" src="assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>What makes <a class="app-title-header secondaryColor-color">FullTeaching</a> special?</h4>
        <p class="light flow-text">FullTeaching makes your online studies much more easier and simpler. Whether you are a teacher or student, FullTeaching provides a powerfull fully web-based platform that allows you to be in class no matter where you are. And how can you do it?
          <br/><br/>And all to get what really matters: that you can focus on your studies.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">All in your favorite browser</h5>
      </div>
    </div>
  </div>
  <div materialize="parallax" class="parallax"><img class="welcome-image" src="assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>
