@import "../node_modules/materialize-css/dist/css/materialize.css";

html {
  overflow-y: scroll !important; /*Never hide vertical scroll-bar*/
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

body {
  background-color: #FFFFFF !important;
}

#sticky-footer-div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  position: relative;
  /*WARNING! maybe unexpected behaviours*/
}

a {
  text-decoration: none !important;
}

.app-title-header {
  font-family: 'Molle', cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.71);
}

.hover-link:hover {
  color: #61ffae !important;
}

.margins-top-bottom {
  margin-top: 40px;
  margin-bottom: 50px;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-lateral {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.row-no-margin {
  margin: 0 !important;
}

.row-no-margin-bottom {
  margin-bottom: 0 !important;
}

.zero-lateral-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.add-element-icon{
  float: right;
  cursor: pointer;
  font-size: 30px;
}

.add-element-icon:hover {
  color: #91a59b;
}

/*Loader*/
@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: .25rem solid rgba(55, 86, 70, 0.2);
  border-top-color: #375646;
  animation: spinLoader 0.4s infinite linear;
}
/*End Loader*/

@media only screen and (min-width: 993px) {
  .container {
    width: 60% !important;
  }
}

/*Mobile phones*/
@media only screen and (max-width: 600px) and (orientation: portrait), screen and (max-width: 992px) and (orientation: landscape) {
  .indicators {
    display: none !important;
  }
  .lean-overlay {
    display: none !important;
  }

  .modal.my-modal-class {
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(231, 235, 233);
    border: 10px solid rgb(55, 86, 70);
    border-width:0 10px 10px 10px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  #course-details-modal {
    max-height: none !important;
  }

  #put-delete-modal {
    max-height: none !important;
  }

  .modal.my-modal-class .modal-footer{
    background-color: rgb(231, 235, 233);
  }

  .app-title-header{
    font-size: 3.9rem;
  }
}
/*End mobile phones*/

/*Library Overwrite*/
.slider .indicators .indicator-item.active {
  background-color: #375646 !important;
}

.md-tab-label {
  min-width: 25% !important;
  font-weight: normal !important;
}

.md-tab-header {
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
}

.md-tab-body-wrapper {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #e0e0e0;
  background-color: white;
}

md-ink-bar {
  background-color: rgba(55, 86, 70, 0.5);
}

.md-tab-label {
  padding: 0 !important;
}

.md-tab-label.md-tab-active {
  background-color: rgba(0, 0, 0, 0.08);
}

.backdrop {
  background-color: #5e615f;
}

div.drag-target {
  max-width: 30% !important;
}
/*End Library Overwrite*/





/*Calendar component*/
h3.calendar-title {
  margin: 0;
  font-size: 1.7rem;
  text-align: center;
}

.cal-month-view .cal-header {
  text-align: center;
  font-weight: bolder;
}

.cal-month-view .cal-cell-row:hover {
  background-color: #fafafa;
}

.cal-month-view .cal-header .cal-cell {
  padding: 5px 0;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: #ededed;
}

.cal-month-view .cal-days {
  border: 1px solid #e1e1e1;
  border-bottom: 0;
}

.cal-month-view .cal-cell-top {
  min-height: 55px;
}

.cal-month-view .cal-cell-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}

.cal-month-view .cal-cell {
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cal-month-view .cal-day-cell {
  min-height: auto;
}

.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.cal-month-view .cal-days .cal-cell-row {
  border-bottom: 1px solid #e1e1e1;
}

.cal-month-view .cal-day-badge {
  margin-top: 18px;
  margin-left: 5px;
  background-color: #b94a48;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}

.cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 15px;
  margin-right: 5px;
  float: right;
  margin-bottom: 10px;
}

.cal-month-view .cal-events {
  display: none;
}

.cal-month-view .cal-event {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  cursor: pointer;
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.1;
  cursor: default;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: darkred;
}

.cal-month-view .cal-day-cell.cal-today {
  background-color: #e8fde7;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em;
}

.cal-month-view .cal-open-day-events {
  padding: 15px;
  color: white;
  background-color: #555;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.cal-month-view .cal-open-day-events .cal-event {
  position: relative;
  top: 2px;
}

.cal-month-view .cal-event-title {
  color: white;
}

.cal-month-view .cal-out-month .cal-day-badge, .cal-month-view .cal-out-month .cal-event {
  opacity: 0.3;
}

.cal-week-view .cal-day-headers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-bottom: 3px;
  border: 1px solid #e1e1e1;
  margin-left: 2px;
  margin-right: 2px;
}

.cal-week-view .cal-day-headers .cal-header {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 5px;
}

.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.cal-week-view .cal-day-headers .cal-header:hover {
  background-color: #ededed;
}

.cal-week-view .cal-day-headers span {
  font-weight: 400;
  opacity: 0.5;
}

.cal-week-view .cal-event-container {
  display: inline-block;
}

.cal-week-view .cal-event {
  padding: 0 10px;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
  height: 30px;
  line-height: 30px;
}

.cal-week-view .cal-event.cal-starts-within-week {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cal-week-view .cal-event.cal-ends-within-week {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cal-week-view .cal-header.cal-today {
  background-color: #e8fde7;
}

.cal-week-view .cal-header.cal-weekend span {
  color: #8b0000;
}

.cal-week-view .cal-event, .cal-week-view .cal-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cal-day-view .cal-hour-rows {
  width: 100%;
  border: solid 1px #e1e1e1;
  overflow-x: scroll;
  position: relative;
}

.cal-day-view .cal-hour:nth-child(odd) {
  background-color: #fafafa;
}

.cal-day-view .cal-hour-segment {
  height: 30px;
}

.cal-day-view .cal-hour:not(:last-child) .cal-hour-segment, .cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  border-bottom: thin dashed #e1e1e1;
}

.cal-day-view .cal-time {
  font-weight: bold;
  padding-top: 5px;
  width: 70px;
  text-align: center;
}

.cal-day-view .cal-hour-segment:hover {
  background-color: #ededed;
}

.cal-day-view .cal-event {
  position: absolute;
  border: solid 1px;
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cal-day-view .cal-event.cal-starts-within-day {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cal-day-view .cal-event.cal-ends-within-day {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cal-day-view .cal-all-day-event {
  padding: 8px;
  border: solid 1px;
}

.calendar-event-icon {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: #375646;
}

.calendar-event-icon:hover {
  color: #91a59b;
}

a.cal-event-title {
  cursor: default !important;
}

.cal-month-view .cal-open-day-events{
  background-color: #EDEDED;
  box-shadow: none;
  border: #e1e1e1 solid 1px;
}

.cal-month-view .cal-open-day-events a {
  color: #000000;
}
