/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll !important; /*Never hide vertical scroll-bar*/
  background-color: #FFFFFF !important;
}

#sticky-footer-div {
  display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
  position: relative; /*WARNING! maybe unexpected behaviours*/
}

a {
  text-decoration: none !important;
}

.app-title-header{
  font-family: 'Molle', cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.71);
}

.hover-link:hover {
  color: #61ffae !important;
}

.margins-top-bottom {
  margin-top: 40px;
  margin-bottom: 50px;
}

/*Loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin: -25px 0px 0px -25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: .25rem solid rgba(55, 86, 70, 0.2);
    border-top-color: #375646;
    animation: spin 0.4s infinite linear;
}
/*End Loader*/

/* Library Overwrite*/
.slider .indicators .indicator-item.active{
  background-color: #375646 !important;
}

@media only screen and (min-width: 993px){
.container {
    width: 60% !important;
  }
}

@media only screen and (max-width: 500px) {
  .indicators {
    display: none !important;
  }
}
/*End Library Overwrite*/
