#navigation-bar {
  top: 0;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -64px !important;
}

a {
  color: #333;
}

.navbar-button {
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
}

.dropdown-menu-button {
  background-color: #375646;
}

.dropdown-menu-button:hover {
  background-color: #324e3f !important;
}

.dropdown-menu-button a {
  color: white;
}

li.divider {
  background-color: #96a19b !important;
}
