<div class="navbar-fixed">
  <nav id="navigation-bar" class="secondaryColor-back" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo app-title-header white-text">FullTeaching</a>
      <i *ngIf="this.authenticationService.isLoggedIn() && this.authenticationService.isTeacher() && addLessonHidden()" class="add-lesson-small material-icons">add_circle_outline</i>

      <!--Logout view-->
      <ul *ngIf="!this.authenticationService.isLoggedIn()" class="right hide-on-med-and-down">
        <li><a (click)="updateLoginModalView(false)" id="signUpButton" class="navbar-button waves-effect white-text modal-trigger" href="#login-modal" materialize="leanModal" [materializeParams]="[{dismissible: false}]">Sign up</a></li>
        <li><a (click)="updateLoginModalView(true)" class="navbar-button waves-effect white-text modal-trigger" href="#login-modal" materialize="leanModal" [materializeParams]="[{dismissible: false}]">Log in</a></li>
      </ul>

      <!--Login view-->
      <ul *ngIf="this.authenticationService.isLoggedIn()" class="right hide-on-med-and-down">
        <li *ngIf="this.authenticationService.isTeacher() && addLessonHidden()"><a id="addLessonButton" class="navbar-button white-text"><i materialize="tooltip" class="material-icons tooltipped" data-position="bottom" data-tooltip="New lesson">add_circle_outline</i></a></li>
        <li><a routerLink="/dashboard" class="navbar-button waves-effect white-text">My classes</a></li>
        <li><a routerLink="/settings" class="navbar-button waves-effect white-text">My settings</a></li>
        <!-- Dropdown Content -->
        <ul id="dropdown1" class="dropdown-content">
          <li class="divider"></li>
          <li class="dropdown-menu-button"><a class="waves-effect" (click)="this.authenticationService.logout()">Logout</a></li>
          <li class="divider"></li>
          <li class="dropdown-menu-button"><a class="waves-effect">Contact</a></li>
        </ul>
        <!-- Dropdown Trigger -->
        <li><a class="navbar-button"><i id="arrow-drop-down" class="material-icons white-text right dropdown-button" data-activates="dropdown1" data-beloworigin="true" materialize="dropdown" >arrow_drop_down</i></a></li>
      </ul>

      <!--Side nav mobile-->
      <ul *ngIf="this.authenticationService.isLoggedIn()" id="nav-mobile" class="side-nav">
        <li><a routerLink="/dashboard" class="waves-effect">My classes</a></li>
        <li><a routerLink="/settings" class="waves-effect">My settings</a></li>
        <li class="divider"></li>
        <li><a class="waves-effect">Contact</a></li>
        <li><a class="waves-effect" (click)="this.authenticationService.logout()">Logout</a></li>
      </ul>
      <a *ngIf="this.authenticationService.isLoggedIn()" class="button-collapse" materialize="sideNav" data-activates="nav-mobile" [materializeParams]="[{closeOnClick: true}]"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
