.card-panel {
  box-shadow: none !important;
}

.fail {
  background-color: #FFFFFF;
  color: #a73841;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #a73841 !important;
}

.warning {
  background-color: #FFFFFF;
  color: #af6e00;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #af6e00 !important;
}

.card-panel.warning {
  margin-bottom: 0.5rem;
}

.correct {
  background-color: rgba(55, 86, 70, 0.5);
}

i {
  cursor: pointer;
}
