commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/initserver.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo sed -i '16i\    client_max_body_size 20M;\' /etc/nginx/nginx.conf
      sudo service nginx restart
      sudo yum update -y
      sudo yum install -y docker
      sudo service docker start
      sudo usermod -a -G docker ec2-user
      sudo docker stop $(docker ps -a -q)
      sudo docker rm $(docker ps -a -q)
      sudo docker run -d -p 8443:8443 -e KMS_TURN_URL=kurento:kurento@193.147.51.12:3478 openvidu/openvidu-server-kms