files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      certificate
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN PRIVATE KEY-----
      private key
      -----END PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "sudo service nginx restart"