<div id="login-modal" class="modal my-modal-class" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="actions">

  <div *ngIf="submitProcessing" class="loading"></div>

  <div class="modal-content" [class.filtered]="submitProcessing">
    <h4 *ngIf="loginView" class="center">Welcome to <a id="modal-title-trade" class="app-title-header secondaryColor-color">FullTeaching</a> !</h4>
    <div class="row">

      <form materialize #myForm class="col s12" (ngSubmit)="onSubmit()">

        <div class="row row-mobile">
          <div class="input-field col s12">
            <input [(ngModel)]="email" name="email" id="email" type="email" class="validate" required>
            <label for="email" data-error="Not an e-mail format!">Email</label>
          </div>
        </div>

        <div *ngIf="!loginView" class="row row-mobile">
          <div class="input-field col s12">
            <input [(ngModel)]="nickName" name="nickName" id="nickName" type="text" class="validate" required>
            <label for="nickName">Name</label>
          </div>
        </div>

        <div class="row row-mobile">
          <div class="input-field col s12">
            <input [(ngModel)]="password" name="password" id="password" type="password" class="validate" required>
            <label for="password">Password</label>
          </div>
        </div>

        <div *ngIf="!loginView" class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" type="password" class="validate">
            <label for="confirmPassword">Confirm password</label>
          </div>
        </div>

        <div class="recaptcha-div-outer" [class.hide]="loginView">
          <div class="recaptcha-div-inner">
            <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="{{this.captchaPublicKey}}"></re-captcha>
          </div>
        </div>

        <app-error-message *ngIf="fieldsIncorrect" (eventShowable)="fieldsIncorrect = false" [errorTitle]="this.errorTitle" [errorContent]="this.errorContent" [customClass]="this.customClass" [closable]="true"></app-error-message>

        <div class="row center margin-top-buttons">
          <button type="submit" *ngIf="loginView" id="log-in-btn" class="waves-effect waves-light btn-flat white-text acceptColor-back">Log in</button>
          <a *ngIf="!loginView && !this.captchaValidated" id="disabled-signup-btn" materialize="tooltip" data-position="bottom" data-delay="65" data-html="true" data-tooltip="Click on <b><i>I'm not a robot</i></b> above" class="btn-flat">Sign up</a>
          <button type="submit" *ngIf="!loginView && this.captchaValidated" id="sign-up-btn" class="waves-effect waves-light btn-flat white-text signUpColor">Sign up</button>
          <a (click)="setLoginView(true); myForm.reset(); this.fieldsIncorrect = false;" class="modal-action modal-close waves-effect waves-light btn-flat white-text cancelColor-back">Close</a>
        </div>

      </form>

    </div>
  </div>

  <div class="modal-footer" [class.filtered]="submitProcessing">
    <div *ngIf="loginView" class="right-align">Not registered yet?<a (click)="setLoginView(false)" class="waves-effect btn-flat modal-footer-button">Sign up</a></div>
    <div *ngIf="!loginView" class="right-align">Already registered?<a (click)="setLoginView(true)" class="waves-effect btn-flat modal-footer-button">Log in</a></div>
  </div>

</div>
